body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
  color: white;
  font-family: 'Inter', 'Comic sans', Courier, monospace;
  /* Sí, comic sans, no soy psicotapa btw */
  scroll-behavior: smooth;
}

.d-none {
  display: none;
}
.d-flex {
  display: flex;
}

.anchor {
  padding: .6rem 1.3rem;
  border-radius: 4px;
}
.see-cart:link {
  color: #0F0F0F;
}
.see-cart:visited {
  color: #0F0F0F;
}
.btn {
  padding: .6rem 1.3rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.message {
  position: fixed;
  top: 75px;
  left: calc(53% - 260px);
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  padding: 2em 4em;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.message--text {
  padding-left: 1em;
}
.see-cart {
  background-color: white;
  font-size: 1.4rem;
  font-weight: 900;
  padding: .6rem;
  margin-left: 1.4rem;
}

/* Navigator */

.header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1.4em 0;
  background: #0F0F0F;
  z-index: 8000;
}
  .nav {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
  }
  .nav--logo {
    margin-right: auto;
    position: relative;
    cursor: pointer;
    z-index: 9000;
  }
  .menu--checkbox {
    display: none;
  }
  .menu--label-toopen {
    position: relative;
    display: flex;
    justify-self: flex-end;
    cursor: pointer;
    z-index: 9000;
  }
  .menu--label-toclose {
    display: none;
    position: relative;
    cursor: pointer;
    z-index: 9000;
  }

  .menu--checkbox:checked ~ .menu {
    transform: translateY(0px);
    transition: all 0.6s;
    opacity: 0.95;
  }
  .menu--checkbox:checked + .menu--label-toopen {
    display: none;
  }
  .menu--checkbox:checked ~ .menu--label-toclose {
    display: flex;
  }

  .cart {
    position: relative;
    margin-left: 2em;
    justify-self: flex-end;
    background-color: transparent;
    border: none;
    z-index: 9000;
    cursor: pointer;
  }

  /* Cart List */
  .cart-list {
    min-height: 62px;
    max-height: 500px;
    overflow-y: scroll;
    width: 90%;
    max-width: 400px;
    position: absolute;
    flex-direction: column;
    box-sizing: border-box;
    top: 60px;
    right: 0;
    background-color: #0F0F0F;
    border-radius: 0 0 4px 4px;
    padding: 1.4rem;
  }
  .cart-item {
    min-height: 100px;
    max-height: 100px;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid #333333;
    background-color: #0F0F0F;
    z-index: 9000;
  }
  .cart-empty {
    position: absolute;
    justify-content: center;
    top: 0px;
    right: 0;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    border-top: 1px solid #333333;
    background-color: #0F0F0F;
    border-radius: 4px;
  }
  .cart-empty--text {
    font-size: 1.8rem;
    font-weight: 700;
    color:gray
  }
  .cart-thumbnail {
    flex-grow: 2;
    max-width: 80px;
    object-fit: contain;
  }
  .cart-text {
    min-width: 100px;
    padding: 0 1rem;
  }
  .cart-title {
    font-size: 1.4rem;
    font-weight: 900;
  }
  .cart-author {
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cart-remove-item {
    padding: .6rem;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 900;
  }

  /* Menu Mobile */
  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4em 0;
    background-color: #0F0F0F;
    transform: translateY(-150%);
    transition: all 1s;
    z-index: 500;
  }
    .menu--li {
      display: flex;
      width: 90%;
      justify-content: center;
      margin: .8em 0;
      text-align: center;
    }
    .menu--link {
      width: 100%;
      color: white;
      font-size: 2rem;
      font-weight: 700;
      padding: .4em .8em;
    }
    .menu--link:hover {
      width: 100%;
      background-color: white;
      color: black;
      cursor: pointer;
      border-radius: 4px;
    }
    .menu--link:active {
      background-color: gray;
    }


  /* main */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;

}
.aside {
  display: none;
}
.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
}
.content--logo {
  margin-top: 2em;
  margin-bottom: 2em;
}
.category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 1.4rem;
}
  .category--title {
    width: 90%;
    font-size: 2.5rem;
    border-bottom: 1px solid #333333;
    padding: 1rem 0;
    margin: 1.4rem 0;
  }
  .nft--container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.nft {
  max-width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  padding: 2em;
  background-color: #0F0F0F;
  border-radius: 4px;
}
  .nft--img {
    width: 256px;
    height: 256px;
    object-fit: cover;
  }
  .nft--title {
    margin: auto 0;
    padding-top: 1.4rem;
    align-self: flex-start;
    font-size: 2rem;
    font-weight: 700;
    word-wrap: break-word;
  }
  .nft--author {
    width: 100%;
    align-self: flex-start;
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    word-wrap: break-word;
  }
  .nft--anchors {
    margin-top: 1.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .details {
    font-size: 1.5rem;
    font-weight: 900;
    background-color: #333333;
    color: white;
  }
  .buy-now {
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
    background-color: white;
  }
  .sold-out {
    padding: .6rem 1.4rem;
    background-color: #0F0F0F;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 4px;
  }
  .sold-out:link {
    color: white;
  }
  .sold-out:visited {
    color: white;
  }
  .go-up {
    position: fixed;
    right: 4%;
    bottom: 12%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .6rem .6rem 0 .6rem;
    background: #0F0F0F;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    border: 0.5px solid #333333;
    z-index: 90000;
    opacity: 0.5;
  }
  .go-up--text {
    color: white;
    font-size: 1.4rem;
    font-weight: 900;
    font-family: 'Inter';
  }

/* footer */

.footer {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  background-color: #0F0F0F;
  z-index: 9000;
}
  .footer--container {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .footer--details {
    font-size: 1rem;
    font-weight: 700;
  }


@media (min-width: 1280px) {
    /* header */
    .header {
      position: fixed;
    }
    .menu--label-toopen {
      display: none;
    }
    .menu {
      position: static;
      display: flex;
      flex-direction: row;
      transform: translateY(0);
      padding: 0;
    }
    .content {
      margin: 6.8em 0 0 10em;
    }
    .menu--li {
      width: 20%;
      margin: 0;
    }

    .main {
      flex-direction: row;
    }

    /* aside */
    .aside {
      position: fixed;
      display: flex;
      width: 100px;
      height: 100vh;
      margin-top: 6.8rem;
      flex-direction: column;
      align-items: center;
      background-color: #0F0F0F;
    }
    .aside--category-list {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-top: 4em;
    }
    .anchor--aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      /* word-wrap: break-word; */
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      margin: 1.4rem 0;
    }
}