body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
  color: white;
  font-family: 'Inter', 'Comic sans', Courier, monospace;
  /* Sí, comic sans, no soy psicotapa btw */
  scroll-behavior: smooth;
  scrollbar-color: gray;
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: #0F0F0F;
}
body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 1px;
}

.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.v-hidden {
  visibility: hidden;
}
.v-visible {
  visibility: visible;
}
.anchor {
  padding: .6em 1.3em;
  border-radius: 4px;

}
.btn {
  padding: .6rem 1.3rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.input {
  width: 60%;
  max-width: 250px;
  padding: .6em 1.3em;
  margin: 1.4rem 0;
  color: white;
  font-size: 1.8rem;
  background-color: #0F0F0F;
  border: 1px solid white;
  border-radius: 4px;
}

/* Navigator */

.header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1.4em 0;
  background: #0F0F0F;
  z-index: 8000;
}
  .nav {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
  }
  .nav--logo {
    margin-right: auto;
    position: relative;
    cursor: pointer;
    z-index: 9000;
  }
  .menu--checkbox {
    display: none;
  }
  .menu--label-toopen {
    position: relative;
    display: flex;
    justify-self: flex-end;
    cursor: pointer;
    z-index: 9000;
  }
  .menu--label-toclose {
    display: none;
    position: relative;
    cursor: pointer;
    z-index: 9000;
  }
  .menu--checkbox:checked + .menu--label-toopen {
    display: none;
  }
  .menu--checkbox:checked ~ .menu--label-toclose {
    display: flex;
  }

  /* Menu Mobile */
  .menu-closed {
    position: absolute;
    top: 60px;
    right: 0%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4em 0;
    background-color: #0F0F0F;
    transform: translateY(-150%);
    transition: all 1s;
    z-index: 500;
  }
  .menu-opened {
    position: absolute;
    top: 60px;
    right: 0%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4em 0;
    background-color: #0F0F0F;
    transform: translateY(0%);
    transition: all 1s;
    z-index: 500;
  }
    .menu--li {
      display: flex;
      width: 90%;
      justify-content: center;
      margin: .8em 0;
      text-align: center;
    }
    .menu--link {
      width: 100%;
      color: white;
      font-size: 2rem;
      font-weight: 700;
      padding: .4em .8em;
    }
    .menu--link:hover {
      width: 100%;
      background-color: white;
      color: black;
      cursor: pointer;
      border-radius: 4px;
    }
    .menu--link:active {
      background-color: gray;
    }

  /* user-menu */
  .user-toggle-menu {
    position: relative;
    padding: 0;
    margin-right: 1.6rem;
    border-radius: 4px;
    border: none;
    z-index: 500;
    cursor: pointer;
  }
  .login {
    position: relative;
    margin-right: 1.6rem;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: #1A1A1A;
    border: 1px solid white;
    color: white;
    white-space:nowrap;
    z-index: 500;
  }
  .register {
    position: relative;
    margin-right: 1.6rem;
    font-size: 1.5rem;
    font-weight: 900;
    white-space:nowrap;
    z-index: 500;
  }


/* main */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}


/* register menu */

.sign-menu {
  position: fixed;
  top: 4%;
  justify-self: center;
  align-self: center;
  width: 90%;
  height: 90%;
  background-color: #0F0F0F;
  border: 1px solid white;
  border-radius: 4px;
  z-index: 90000;
}
.sign-form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.sign-closer {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sign-title {
  font-size: 2.6rem;
  margin: 4rem 0;
  padding-top: 10rem;
}
.sign-label {
  font-size: 1.4rem;
  font-weight: 700;
}
.sign-btn {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
}
.already-account {
  background-color: transparent;
  color: white
}
.sign-alert {
  font-size: 1.6rem;
  font-weight: 700;
  color: red;
}
.sign-confirm {
  font-size: 1.6rem;
  font-weight: 700;
  color: green;
}

.notice {
  width: 90%;
  margin: 1.6rem 0;
  color: gray;
}

.article {
  display: flex;
  width: 100%;
  margin: 4em 0;
  flex-direction: column;
  align-items: center;
}
  .article--title {
    margin: 1.4rem 0;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
  }
  .article--svg {
    display: flex;
    justify-content: center;
    margin: 1.4em 0;
  }
  .article--img {
    display: flex;
    width: 90%;
    max-width: 400px;
    margin: 3em 0;
    justify-content: center;
    filter: grayscale(100%);
  }
  .article--description {
    margin: 1.4rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #B0B0B0;
  }
  .see-more {
    margin-top: 5rem;
    color: #191919;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 900;
  }
  .see-more:active {
    background-color: gray;
  }

  /* form */
  .news-letter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
  }
  .label-email {
    margin-top: 1.4rem;
    font-size: 2rem;
    font-weight: 700;
  }
  .successful-message {
    font-size: 1.8rem;
    color: green;
  }
  .invalid-message {
    font-size: 1.8rem;
    color: red;
  }
  .subscribe {
    width: 60%;
    max-width: 280px;
    margin: 1.4rem 0;
    background-color: white;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
  }
/* footer */

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  background-color: #0F0F0F;
}

  .footer--container {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .footer--details {
    font-size: 1rem;
    font-weight: 700;
  }


  @media (min-width: 1280px) {


    /* header */
    .menu--label-toopen {
      display: none;
    }
    .menu-opened {
      position: static;
      display: flex;
      flex-direction: row;
      transform: translateY(0);
      padding: 0;
    }
    .menu-closed {
      position: static;
      display: flex;
      flex-direction: row;
      transform: translateY(0);
      padding: 0;
    }
    .menu--li {
      width: 20%;
      margin: 0;
      white-space: nowrap;
    }
    .menu--checkbox:checked ~ .menu--label-toclose {
      display: none;
    }
  }